
body {
    background-color: purple;
}

.bottle {
    margin: 90px auto;
    width: 376px;
    background-color: orange;
    height: 584px;
}

.canvas_container {
    padding-top: 20px;
    width: 336px;
    margin: 20px auto;
}

.game_canvas {
    background: black;
    background-size: 100%;
    width: 336px;
    height: 544px;
}
